<div class="login-panel">
  <app-auth-toolbar></app-auth-toolbar>

  <div class="login-panel__content">
    <h2 class="login-panel__header">Sign in your account</h2>

    <form class="login-panel__form" [formGroup]="loginForm" (ngSubmit)="submit()">
      <mat-form-field class="login-panel__form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [formControl]="emailControl">
        <mat-error *ngIf="emailControl.invalid">{{ getFormControlErrorMessage(emailControl) }}</mat-error>
      </mat-form-field>

      <mat-form-field class="login-panel__form-field" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="passwordVisible ? 'text' : 'password'" [formControl]="passwordControl">
        <button mat-icon-button matSuffix (click)="passwordVisible = !passwordVisible" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordVisible">
          <mat-icon>{{ passwordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        <mat-error *ngIf="passwordControl.invalid">{{ getFormControlErrorMessage(passwordControl) }}</mat-error>
      </mat-form-field>

      <button class="login-panel__btn-submit" mat-raised-button color="warn" type="submit">Sign in</button>
    </form>

    <app-auth-platforms [authOperationType]="authOperationType"></app-auth-platforms>
  </div>
</div>
