<div class="platforms">
  <p class="platforms__text">or sign in with</p>

  <div class="platforms__content">
    <button mat-icon-button class="platforms__item">
      <mat-icon svgIcon="google"></mat-icon>
    </button>
    <button mat-icon-button class="platforms__item">
      <mat-icon svgIcon="facebook"></mat-icon>
    </button>
    <button mat-icon-button class="platforms__item">
      <mat-icon svgIcon="twitter"></mat-icon>
    </button>
  </div>

  <p class="platforms__text">{{ footerQuestionText }} <a class="platforms__text--link" (click)="navigate()"> {{ footerOperationText }}</a>!</p>
</div>
