.landing-page {
  position: relative;
  height: 100vh;

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 10;

    .overlay {
      position: relative;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, .3);
      z-index: 11;
    }

    img {
      height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
    }
  }

  &__content {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 11;
  }

  &__logo {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #fff;

    img {
      width: 120px;
    }

    &-title {
      font-family: "Kode Mono", monospace;
      font-size: 42px;
    }

    &-description {
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      font-size: 12px;
      padding: 0 20px;
    }
  }

  &__actions {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
  }
}
