<div class="landing-page">
  <div class="landing-page__background">
    <div class="overlay"></div>
    <img src="assets/nissan-background.webp">
  </div>
  <div class="landing-page__content">
    <div class="landing-page__logo">
      <img src="assets/mechanic-logo.png">
      <h2 class="landing-page__logo-title">XENTERUS</h2>
      <p class="landing-page__logo-description">Store and maintain your vehicle with complete car management system</p>
    </div>
    <div class="landing-page__actions">
      <button mat-raised-button color="warn">Sign in</button>
      <button mat-raised-button>Sign up</button>
    </div>
  </div>
</div>
