$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

@mixin respond-to-screen($breakpoint) {
  @if $breakpoint == small {
    @media (min-width: $screen-sm) { @content; }
  }
  @else if $breakpoint == medium {
    @media (min-width: $screen-md) { @content; }
  }
  @else if $breakpoint == large {
    @media (min-width: $screen-lg) { @content; }
  }
  @else if $breakpoint == xlarge {
    @media (min-width: $screen-xl) { @content; }
  }
}

// EXAMPLE OF USE

//.element {
//  width: 100%;
//
//  @include respond-to-screen(medium) {
//    width: 50%;
//  }
//
//  @include respond-to-screen(small) {
//    width: 25%;
//  }
//}
