@use 'src/app/shared/styles/rwd' as rwd;
@use 'src/app/shared/styles/var' as var;
@use 'src/app/shared/styles/shared' as shared;

.landing-page {
  position: relative;
  height: 100vh;

  &__background {
    background: url('../../assets/nissan-background-3.jpg') 25% 0;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 10;

    .overlay {
      position: relative;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, .5);
      z-index: 11;
    }
  }

  &__content {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var.$primary-space * 3;
    justify-content: center;
    z-index: 11;

    @include rwd.respond-to-screen-width(small) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      gap: 40px;
    }

    .copyright {
      position: absolute;
      left: 50%;
      bottom: var.$primary-space;
      transform: translateX(-50%);
      font-size: 10px;
      color: #fff;
    }
  }

  &__logo {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var.$primary-space * 2;
    color: #fff;

    @include rwd.respond-to-screen-width(large) {
      gap: var.$primary-space * 2;
    }

    img {
      width: 120px;
      margin-bottom: var.$primary-space;

      @include rwd.respond-to-screen-width(large) {
        width: 250px;
      }
    }

    &-title {
      font-family: "Kode Mono", monospace;
      font-size: 42px;

      @include rwd.respond-to-screen-width(large) {
        font-size: 60px;
      }
    }

    &-description {
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      font-size: 12px;
      padding: 0 20px;

      @include rwd.respond-to-screen-width(large) {
        font-size: 14px;
      }
    }
  }

  &__actions {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 20px;

    @include rwd.respond-to-screen-width(large) {
      gap: 20px;
    }

  }

  &__button {
    height: var.$btn-large-height !important;
    width: var.$btn-large-width !important;

    &--sign-in {
      @include shared.button-red;
    }
  }
}
