/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'theme';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100%;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #FFFFFF;
  color: #121212;
  transition: background-color .2s ease;
}

body.dark-theme {
  background-color: #121212;
  color: #FFFFFF;
}

.mat-typography p, .mat-typography h2 {
  margin: 0;
}

/* Change the border color */
//.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
//.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
//.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
//  //border-color: white !important;
//}
//
///* Change text color on focus */
//.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
//  color: black;
//}
//
///* Change the border width */
//.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__leading,
//.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__notch,
//.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__trailing {
//  //border-width: 1.5px !important;
//}
//
///* Change the border focused color */
//.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
//.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
//.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
//  border-color: black !important;
//}
//
///* Change the border hover color */
//.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading,
//.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch,
//.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
//  //border-color: white !important;
//}
//
//.mat-mdc-checkbox.mat-primary .mdc-checkbox--selected~.mdc-checkbox__ripple {
//  background-color: black !important;
//}
//
//.mat-mdc-checkbox .mdc-checkbox:not(:disabled):active .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
//  border-color: black !important;
//  background-color: black !important;
//}
//
//.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
//  border-color: black !important;
//  background-color: black !important;
//}
